@import url(https://fonts.google.com/);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-size: contain;

}

header {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#info ul {
    list-style: none;
    display: flex;
   
   
}

#info ul li {
    padding: 0.5rem;
    margin-right: 1rem;
    
}


#info ul li a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s linear;
}


#info  ul li a:hover {
    color: #c9bbbb;
    transition: 0.3s linear;
}

#logo  ul li {
    list-style: none;
}

#logo ul li img {
    border-radius: 30em;
    opacity: 1;
    width: 90px;
}

#logo ul li h2 {
    font-size: 10px;
    text-align: center;
}


#socialmedia  ul   {
    list-style: none;
    display: flex;
}

#socialmedia   ul li {
    padding: 0.5rem;
    margin-right: 1rem;
}



#socialmedia ul  li img {
    opacity: 1;
    width: 20px;
}


.start h1  {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1rem;
}
.start p {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    padding: 0 2em 0 2em;
}

.Main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;

}


#left {
    display: flex;
    flex-direction: column;
    
    padding: 2em;
    width: 20%;
}



#left h6 {
    font-size: 10px;
    color: #c9bbbb;
  
    padding-top: 5em;
    padding-bottom: 5em;
    

}
    
#left p {
    font-size: medium;
    font-weight: bold;
    font-display:inherit;
    text-align: left;
   

}



#center {
    display: flex;
    justify-content: center;
    width: 40%;
  /* position: relative; */
}
/*
#center::after {
    content: "";
    background-color: #ffffff;
    width: 100%;
    height: 80vh;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
}
*/
#center img {
    width: 300px;
    border-radius: 30em;
    border: #f2f2f2;
}

#right  {
    width: 18%;
    height:fit-content;
    display: flex;
    flex-direction: column;
    padding: 2em;
}



#right h6 {
    font-size: 10px;
    color: #c9bbbb;
    font-display: inherit;
    padding: 3em;
    text-align: right;

}
    
#right p {
    font-size:xx-large;
    
    font-display:inherit;
    text-align: right;
}